.filme-content{
    width: 200px;
    padding: 20px;
    box-shadow: 0px 0px 31px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif;
}

.filme-content>img{
    width: 100%;
    height: auto;
}

.sinopse{
    text-align: justify;
    font-weight: 400;
}

.text-barbie{
    color: rgb(48, 43, 43);
    line-height: 1.9em;
}