.filme-content{
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 31px 23px rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 161, 206)
}

.foto-filme{
    min-height: 300px;
    display: flex;
    align-items: center;

}

.foto-filme>img{
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 15px;
}

.sinopse{
    text-align: justify;
    font-weight: 400;
}

.text-barbie{
    color: rgb(77, 70, 70);
    line-height: 1.9em;
}