.content-main{
    display: flex;
    gap: 15px;
    padding: 15px 100px;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}
.pesquisar{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 25px;
    background-color: rgb(243, 145, 194);
}